button {
    &.btn__login {
        width: 100%;
        color: $white;
        padding: $py-1;
        margin: $my-1;
        @include button-style;

        &.primary {
            background-color: $form-primary-color;
        }

        &.secondary {
            background-color: $white;
            color: $black;
            @include flexbox-row;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 0;
        }
    }

    &.btn__suscripcion {
        width: 30%;
        color: $form-semi-black;
        padding: 0.8rem 0;
        margin-left: $ms-5;
        @include button-style;
    }

}