// BEM Categoria
.categoria {
    @include flexbox-row;
    width: 100%;
    border-radius: $br-1;
    height: $h-5;
    align-items: center;
    justify-content: space-between;

    &:not(:first-of-type) {
        margin-top: $mt-1;
    }

    &__img {
        height: $h-100;
        margin-left: $ms-2;
        @include img-style;
    }

    &__text {
        font-size: 2rem;
        margin-right: $me-1;
        text-align: right;
        color: $white;
        font-weight: $font-bold;
    }

    &--html {
        background-color: $red;
    }

    &--js {
        background-color: $yellow;
    }

    &--css {
        background-color: $light-blue;
    }

    &--react {
        background-color: $grey;
    }

    &--vue {
        background-color: $green;
    }

    &--bootstrap {
        background-color: $purple
    }
}