input[type="checkbox"],
input[type="email"],
input[type="password"],
input[type="text"] {
    border-radius: 5px;
    @include border-solid;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.8rem 0;
    padding-left: $ps-1;
    font-size: 1rem;
    color: #333;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}

.suscripcion__botones {
    input[type="email"] {
        width: 50%;
    }
}