.logo {
    @include flexbox-row;
    align-items: center;
    margin: 1rem 3rem;
    height: $h-5;

    &__img {
        height: $h-100;
        margin-right: 1.5rem;
        border-radius: $br-1;
        font-weight: $font-bold;

    }

    &__title {
        font-weight: $font-bold;
    }

    &--small {
        height: 3.5rem;
    }
}

.logo__google {
    width: 35px;
    height: 35px;
}