.h-post {
    @include flexbox-row;
    width: $w-100;
    height: $horizontal-post-height;

    &:not(:first-of-type) {
        padding-top: $pt-1;
    }

    &__content {
        @include flexbox-column;
    }

    &__img {
        @include img-style;
        height: $h-100;
        margin-right: $me-1;
        width: calc($horizontal-post-height + 0.5rem);
    }

    &__date {
        font-weight: $font-regular;
        font-size: 0.8rem;
    }
}

.v-post {
    @include v-card-style;

    &__date {
        @include date-style;
    }

    &__img {
        @include img-style;
        margin-bottom: 1.5rem;
    }

    &__link {
        color: $grey;
        font-weight: $font-regular;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        margin-top: $mt-1;
    }

    &--small {
        width: 18rem;

        .v-post__img {
            height: 8rem;
        }
    }
}

.main-post {
    &__card {
        @include v-card-style;
    }

    &__date {
        @include date-style;
        margin-left: $ms-2;
    }

    &__text {
        font-weight: $font-regular;
    }

    &__img {
        @include img-style;
        width: 100%;
        margin: $my-2;
    }
}