.user {
    @include flexbox-row;
    margin-top: $mt-1;
    align-self: baseline;
    align-items: center;
    height: $h-3;

    &__img {
        border-radius: 50%;
        height: $h-100;
        margin-right: $me-1;
    }

    &__text {
        font-weight: $font-regular;
    }
}

.user--small {
    height: $h-2;
}