.suscripcion {
    padding: 1rem 5rem;
    margin: $mx-0;

    &__subtitle {
        font-size: $font-subtitle;
        font-weight: $font-medium;
        text-align: left;
        padding: $py-1;
        width: $w-50;

        &--white{
            color: $white;
        }
    }

    &__register {
        margin: $my-1;
        padding: $py-1;
        font-size: 1rem;
    }
}