.login {
    padding: 2rem 1.5rem;
    margin: $mx-0;
    width: 30vw;

    &__title {
        font-size: $font-title;
        font-weight: $font-bold;
        text-align: center;
        padding: $py-1;
    }

    &__remember,
    &__register {
        margin: $my-1;
        padding: $py-1;
        font-size: 1rem;
    }

    &__remember {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__text {
            margin-right: $me-0;
            margin-left: $ms-1;
        }
    }

    &__register {
        text-align: center;

        &__link {
            font-weight: $font-bold;
        }
    }
}